[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
uvicorn = "*"
datetime = "*"

[packages]
fastapi = "*"
reddit2epub = "*"

[requires]
python_version = "3"

# TODO try poetry
